# compiled output
/dist

# dependencies
/node_modules

# generated
/generated

# IDE
/.idea
.DS_Store
*.swp
*.swo

# environment variables
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*

# test coverage
/coverage

# Prisma
/generated/prisma
